
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body{
      background-image: url(images/background.jpg);
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      height: 95vh;
      display: flex;
      margin-top: 25px;
      color: rgb(129, 105, 44);
      font-family: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
.topbar{
      position: fixed;
      top:0;
      left: 0;
      padding: 40px 100px 20px 100px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 30px;
      background: rgb(251, 243, 232);
      border-bottom: 2px solid rgb(129, 105, 44);
      z-index: 100;     
}

#logo{
      max-width: 140px;
      margin-top: -20px;
      border-radius: 10%;
}
#navLogo{
      display: none;
}
nav{
      display: flex;
      padding: 12px 5%;
}


nav ul{
      flex: 5;
      text-align: center;
      
}
nav ul li{
      position: relative;
      list-style: none;
      display: inline-block;
      margin: 0 20px;
}
nav ul li a{
      text-decoration: none;
      color: rgb(129, 105, 44);
      transition: 0.2s ease;
      font-weight: bold;
      padding: 8px 8px;
      border-radius: 8px;
      

}
.navbar{
      display: flex;

}
.navbar li::after{
      position: absolute;
      content: '';
      top: 30px;
      left: 0;
      height: 2px;
      width: 0;
      background-color:  rgb(129, 105, 44);
      border-radius: 30px;
      transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
      
}
.navbar li:hover::after{
      width: 100%;
}
.active{
      padding: 13px;
      border-radius: 0;
      border-bottom: 2px solid rgb(129, 105, 44) ;
}



.bars{
      display: none;
      list-style: none;
      margin: 10px;
      cursor: pointer;
      font-size: 20px;
      margin-left: 60px;
      margin-right: -20px;
}
.main{
      display: flex;
      margin: 100px 20px 20px 20px;
}
.content{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 500px;
      background: radial-gradient(rgb(129, 105, 44));
      padding-left: 52px;
      padding-right: 52px;
      border-radius: 20px;
}
button{
      cursor: pointer;
      text-decoration: none;
      padding: 6px 16px;
      font-size: 18px;
      color: white;
      background-color: rgb(129, 105, 44);
      outline: 0;
      border: 0;
      border-radius: 5px;
      transition: 0.2s ease;
}
button:hover{
      background-color: grey;
      color: white;
}
button a{
      text-decoration: none;
      color: white;
      transition: 0.2s ease;
}
button:hover a{
      background-color: grey;
      color: white;
}
.icons{
      position: sticky;
      margin-left: 200px;
      width: 80px;
      height: 20px;
      top: 0;
      
}
.social-icons{
      display: flex;
      align-items: center;
      justify-content: space-between;

}
.social-icons a{
      flex-direction: row;
      list-style: none;
      margin-left: -16px;
}
.social-icons a i{
      text-decoration: none;
      font-size: 20px;
      color: rgb(129, 105, 44) ;
      cursor: pointer;
      padding: 8px 8px;
      transition: 0.2s ease;
      border-radius: 8px;
}
.social-icons a i:hover{
      background-color: grey;
      color: white;
}
#goToTop{
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 20px;
      border: none;
      outline: none;
      background-color: rgb(129, 105, 44);
      color: white;
      cursor: pointer;
      padding: 15px;
      padding-bottom: 6px;
      border-radius: 25px;
}
#goToTop:hover{
      background-color: grey;
      color: white;
      transition: 0.7s;
      
}
table{
      border-collapse: collapse;
      margin: 0;
      width: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
}
table tr{
      padding: .45em;
}
thead tr{
      background-color: grey;
}

tbody tr:nth-child(even){
      background-color: rgb(230, 222, 222);
}
table th,
table td{
      font-size: 1em;
      padding: 0.5em;
      text-align: center;
}
thead th{
      color: white;
      font-size: 1.15em;
}
#goToTop{
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 20px;
      border: none;
      outline: none;
      background-color: rgb(129, 105, 44);
      color: white;
      cursor: pointer;
      padding: 15px;
      padding-bottom: 6px;
      border-radius: 25px;
}
#goToTop:hover{
      background-color: grey;
      color: white;
      transition: 0.7s;
      
}
/* Footer */
section#Footer{
      display: flex;
      align-items: center;
      flex-direction: column;
}
section#Footer .social-icons{
      display: flex;
      align-items: center;
      justify-content: center;
}
section#Footer .social-icons a{
      padding: 10px;
}


#footerNav ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding-left: 0px;
      
}
#footerNav ul li{
      padding: 5px;
}
#footerNav a{
      text-decoration: none;
      color: rgb(129, 105, 44);
      transition: 0.5s all;
      padding: 5px;
      border-radius: 5px;
}
#footerNav .active{
      border: none;
}
#footerNav a:hover{
      color: white;
      background-color: grey;
}
.footerBottom{
      padding: 20px;
      text-align: center;
}
.designer{
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px 5px;
}


/* Footer End */


/*BREAKPOINT*/

@media (max-width: 992px){
      body{

            background-position: center;
            background-size: cover;
            
      }
      .icons
      .topbar{
            padding: 0.5rem 4%;
      }
      #logo {
            top: 0;
            width: 10%;
      }
}
@media (max-width: 768px){
      body{
            background-color: rgb(251, 243, 232);
            background-image: none;
            background-attachment: fixed;
            background-position: center;
            background-size: cover ;
            

      }
      #logo{
            width: 15%;
            
      }
      .icons{
            display: block;
            margin-left: 12px;
            

      }
      .content{
            margin-left: 0px;
            padding: 5px;
            margin-top: 10px;
      }
      .ALL{
            width: 95%;
      }
      .topbar{
            display: flex;
            justify-content: space-between;
            justify-content: space-around;
            padding-left: 10px;
            width: 100%;
            padding-right: 0px;
                        
      }
      .main{
            width: 80%;
            margin-top: 18%;
            margin-left: 0px;
            font-size: x-small;
      }
      .bars{
            top: 0;
            display: block;
            position: relative;
            font-size: 36px;
            color: rgb(129, 105, 44) ;
            z-index: 100;
            
            
            
      }
      #menu-icon{
            margin-left: 0px;
      }
      #menuBar{
            display: flex;
            position: fixed;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            width: 120%;
            height: 100vh;
            background-color: rgb(251, 243, 232); 
            padding: 0px;
            transform: translateX(-110%);
            transition-delay: 0.2s;
            transition: 0.3 all ease-in-out;
      }
      #menuBar.active2{
            /* left: 0; */
            transform: translateX(-10%);
      }
      nav{
            display: flex;
            position: fixed;
            top: 0;           
            width: 120%;
            height: 100vh;
            padding: 0px;
            /* clip-path: circle(45px at 378px 35px); */
            z-index: 5;
            transition: 0.5s all linear;

            
      }
      nav a{
            display: block;
            margin: 1rem 0;
            
            
      }
      .navbar{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 5%;
            width: 55vh;
            
      }
      .navbar li{
            padding: 10px;
      }
      #navLogo{
            display: block;
            margin-top: 10%;
            width: 50%;
      }
      .navbar.active2{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            width: 100%;
            height: 100vh;
            background-color: rgb(251, 243, 232); 
            padding: 0px;
            transform: translateX(0);
            transition-delay: 0s;
            left: 0;  
            
      }
      
      
}
@media (max-width: 555px){
      #logo{
            width: 22%;
      }
}

